@charset "UTF-8";
.masking-wrap{
    position:absolute;
    top:0;
    right:0;
    width: 80px;
    height: 327px;
    background:-webkit-linear-gradient(left,rgba(255,255,255,0),white 100%);
    z-index:1;
}

@mixin gra($begin,$end){
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($begin), to($end));
  background-image: -webkit-linear-gradient(top, $begin, $end);
  background-image:    -moz-linear-gradient(top, $begin, $end);
  background-image:      -o-linear-gradient(top, $begin, $end);
  background-image:         linear-gradient(top, $begin, $end);
}