@mixin iconItem($imgUrl, $name, $extend:commonMaps, $spacing:2, $spacing_w:2){
  $width:image-width(sprite-file($imgUrl, $name));//$name's width
  $height:image-height(sprite-file($imgUrl, $name));//$name's height
  width:rem-calc($width + $spacing);
  height:rem-calc($height + $spacing_w);
  background-position:rem-calc(sprite-position($imgUrl, $name));//location
  @extend %#{$extend};
}

@mixin iconItemNoSize($imgUrl, $name, $extend:commonMaps){
 background-position:rem-calc(sprite-position($imgUrl, $name));//location
  @extend %#{$extend};
}

@mixin iconItemPos($imgUrl, $name){
  background-position:rem-calc(sprite-position($imgUrl, $name));
}

@mixin spritesImg($extend:commonMaps, $left:0, $top:0){
  @extend %#{$extend};
  background-position:rem-calc($left $top);
}